<div class="section-skills">
  <div class="skills-list-grouped">
    <% skills.forEach(function(group) { %>
    <div class="skill-group">
      <h4><%= group.group %> Skills</h4>
      <ul class="list-plain">
        <% group.skills.forEach(function(skill) { %>
        <li>
          <% if (skill.type === 'multiple') { %>
          <h5 class="accent-font">
            <%= skill.name %><% if (skill.required) { %>*<% }%>
            <span class="skill-meta"
              >(<%= skill.stat.replace('stat_', '') %>
              <span
                name="attr_<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>"
              ></span
              >)</span
            >
          </h5>
          <fieldset class="<%= skill.fieldset %>">
            <div class="skill">
              <span class="skill-indent-icon">&#8627;</span>
              <button
                class="button-plain"
                type="roll"
                value="&{template:skill}{{charactername=@{character_name}}} {{skillname=<%= skill.name.replace(' (x2)', '') %>: @{skillname}}} {{skillvalue=@{skillvalue}}} {{statname=<%= skill.stat.replace('stat_', '') %>}} {{statvalue=@{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skillvalue} + @{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>}<% if (skill.stat ==='stat_ref' || skill.stat === 'stat_dex' || skill.stat === 'stat_move'){ %> + @{armor_penalty}<%} %> + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              ></button>
              <input class="skill-name" type="text" name="attr_skillname" />
              <input
                class="skill-value"
                type="number"
                value="0"
                name="attr_skillvalue"
              />
            </div>
          </fieldset>
          <% } else { %>
          <div class="skill">
            <button
              class="button-plain"
              type="roll"
              value="&{template:skill}{{charactername=@{character_name}}} {{header=<%= skill.name %>}} {{skillname=<%= skill.name.replace(' (x2)', '') %>}} {{skillvalue=@{<%= skill.field %>}}} {{statname=<%= skill.stat.replace('stat_', '') %>}} {{statvalue=@{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{<%= skill.field %>} + @{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>}<% if (skill.moto) { %> + @{role_nomad}<%} %><% if (skill.stat ==='stat_ref' || skill.stat === 'stat_dex' || skill.stat === 'stat_move'){ %> + @{armor_penalty}<%} %> + @{finalmodifier} <% if(skill.name === 'Perception') { %> + @{role_solo_threatdetection} <% } %>]]}} {{critroll=[[1d10]]}}"
            >
              <% if (skill.required) { %><strong><%= skill.name %>*</strong><% }
              else { %><%= skill.name %><% } %>

              <span class="skill-meta"
                >(<%= skill.stat.replace('stat_', '') %>
                <span
                  name="attr_<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>"
                ></span
                ><% if (skill.moto) { %><input
                  class="skill-moto-flag"
                  type="hidden"
                  name="attr_role_nomad"
                /><span class="skill-moto-flag">
                  + MOTO <span name="attr_role_nomad"></span></span
                ><% } %><% if(skill.name === 'Perception'){ %>
                <input
                  class="skill-solo-flag"
                  type="hidden"
                  name="attr_role_solo_threatdetection"
                /><span class="skill-solo-flag"
                  >+ Threat Detection
                  <span name="attr_role_solo_threatdetection"></span></span
                ><% } %>)
              </span>
            </button>
            <input
              class="skill-value"
              type="number"
              value="<% if (skill.required) { %>2<% } else { %>0<% } %>"
              name="attr_<%= skill.field %>"
            />
          </div>
          <% } %>
        </li>
        <% })%>
      </ul>
    </div>
    <% }) %>
  </div>
  <div class="center" style="color: #fff; font-size: 1.2rem">
    * These skills are required
  </div>
</div>
