<div class="section-skills">
  <div class="skills-list-grouped">
    <% skills.forEach(function(group) { %>
    <div class="skill-group">
      <h4><%= group.group %> Skills</h4>
      <ul class="list-plain">
        <% group.skills.forEach(function(skill) { %>
        <li>
          <% if (skill.type === 'multiple') { %>
          <h5 class="accent-font">
            <%= skill.name %>
            <span class="skill-meta"
              >(<%= skill.stat.replace('stat_', '') %>
              <span
                name="attr_<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>"
              ></span
              >)</span
            >
          </h5>
          <fieldset class="<%= skill.fieldset %>">
            <div class="skill">
              <input
                class="skill-value"
                type="number"
                value="0"
                name="attr_skillvalue"
              />
              <span class="skill-indent-icon">&#8627;</span>
              <button
                class="button-plain"
                type="roll"
                value="&{template:skill}{{charactername=@{charactername}}} {{skillname=<%= skill.name.replace(' (x2)', '') %>: @{skillname}}} {{skillvalue=@{skillvalue}}} {{statname=<%= skill.stat.replace('stat_', '') %>}} {{statvalue=@{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skillvalue} + @{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              ></button>
              <input class="skill-name" type="text" name="attr_skillname" />
            </div>
          </fieldset>
          <% } else { %>
          <div class="skill">
            <input
              class="skill-value"
              type="number"
              value="0"
              name="attr_<%= skill.field %>"
            />
            <button
              class="button-plain"
              type="roll"
              value="&{template:skill}{{charactername=@{charactername}}} {{header=<%= skill.name %>}} {{skillname=<%= skill.name %>}} {{skillvalue=@{<%= skill.field %>}}} {{statname=<%= skill.stat.replace('stat_', '') %>}} {{statvalue=@{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{<%= skill.field %>} + @{<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
            >
              <%= skill.name %>
              <span class="skill-meta"
                >(<%= skill.stat.replace('stat_', '') %>
                <span
                  name="attr_<%= skill.stat === 'stat_emp' ? 'empathy' : skill.stat %>"
                ></span
                >)</span
              >
            </button>
          </div>
          <% } %>
        </li>
        <% })%>
      </ul>
    </div>
    <% }) %>
  </div>
</div>
